<div style=" display: flex;flex-direction: column; align-items:
    flex-start;">
    <button type="button" name="tab" value="product" class="btn
        btn-outline-light mb-1 ps-4
        pe-4 active" style="max-width: 100%;">Product</button>
    <button type="button" name="tab" value="user" class="btn btn-outline-light
        mb-1 ps-4
        pe-4" style="max-width: 100%;">User</button>
    <button type="button" name="tab" value="profile" class="btn
        btn-outline-light
        mb-1 ps-4
        pe-4" style="max-width: 100%;">Profile</button>
</div>