<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" />
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
        }

        ;

        body {
            flex-direction: row;
        }
    </style>
</head>

<body onload="handleOnload()">
    <div class="container-fluid">
        <div class="row p-1 pb-0" style="height: 100%;">
            <div class="col-1 p-0" style="height: 100%;">
                <div class="bg-black pt-2 ps-1" style="border-top-left-radius:
                    5px;--bs-bg-opacity : .7;height: 100%;width: 97%;">
                    <span id="header">{{> header}}</span>
                </div>
            </div>
            <div class="col-11" id="content">
                {{{body}}}
            </div>
        </div>
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div id="toast_title" class="toast-header bg-success" style="color: white;">
                    <strong class="me-auto">Notification</strong>
                    <small>Recently</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body" id="toast_mess">
                    hello
                </div>
            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        let isUpdateClick = false;
        let id_click = 'z';
        let modal;
        const toast = new bootstrap.Toast(document.querySelector('#liveToast'));
        const toastMess = document.querySelector('#toast_mess');
        const toastTitle = document.querySelector('#toast_title');
        let content = document.querySelector('#content');
        let tabs = document.querySelectorAll('[name = "tab"]');
        const emailRegex = /^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/;
        const nameRegex = /^[A-Za-z ]+$/;
        function handleOnload() {
            loadTabActive();
            loadContent('products');
        }

        function loadContent(field) {
            fetch(`/${field}`).then((res) => res.text()).then((data) => {
                content.innerHTML = data;
                modal = new bootstrap.Modal(document.getElementById('staticBackdrop'), {
                    keyboard: false,
                    backdrop: 'static'
                });
            });
        }

        function cleanRow() {
            let row = document.querySelector('#tbody').querySelectorAll('tr');
            let length = row.length;
            for (let i = 0; i < length; i++) {
                row[i].remove();
            }
        }

        function handleButtonDelete(field, id) {
            console.log(`/${field}/option/${id}`);
            fetch(`/${field}/option/${id}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
            }).then(res => res.text).then(data => loadContent(`${field}`));
        }
        function handleButtonUpdate(field, id) {
            console.log(field, id);
            let inputs = document.querySelector('#form').querySelectorAll('input');
            let tds = document.getElementById(id).querySelectorAll('td');
            if (field == "users") {
                inputs[0].value = tds[1].textContent;
                inputs[1].value = tds[2].textContent;
                inputs[2].value = tds[3].textContent;
            } else {
                inputs[0].value = tds[1].textContent;
                inputs[1].value = parseInt(tds[2].textContent);
                inputs[2].value = tds[5].textContent;
                inputs[3].value = tds[4].textContent;
            }
            modal.show();
            isUpdateClick = true;
            id_click = id;
        }

        function handleButtonCreate() {
            CleanForm();
            isUpdateClick = false;
            modal.show();
        }

        function handleButtonSave(field) {
            const inputs = document.querySelectorAll('#form div input')
            let obj = {};
            let check = true;
            inputs.forEach(input => {
                let name = input.name;
                if (name != "file") {
                    let value = input.value;
                    if (value.length == 0) {
                        ShowToast("Thông tin không được để trống", false);
                        check = false;
                    }
                    if (name == "name" || name == "fullName" && !nameRegex.test(value)) {
                        ShowToast("Tên không chính xác !", false);
                        check = false;
                    }
                    if (name == "email" && !emailRegex.test(value)) {
                        ShowToast("Email không đúng", false);
                        check = false;
                    }
                    obj[name] = input.value;
                }
            })
            if (check) {
                fetch(`/${field}/option/${id_click}`, {
                    method: isUpdateClick ? 'PUT' : 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(obj)
                }).then(res => res.text).then(data => {
                    ShowToast("Thành công", true);
                    loadContent(`${field}`);
                });
                modal.hide();
            }
        }

        function loadTabActive() {
            for (let i = 0; i < tabs.length; i++) {
                tabs[i].addEventListener('click', () => {
                    loadContent(tabs[i].getAttribute('value'));
                    setTabActive(i);
                })
            }
        }

        function setTabActive(index) {
            tabs.forEach(e => {
                e.classList.remove('active');
            })
            tabs[index].classList.add('active');
        }

        function ShowToast(mess, isCorrect) {
            if (toast) {
                if (isCorrect == 'true') {
                    toastTitle.classList.remove('bg-danger');
                    toastTitle.classList.add('bg-success');
                } else {
                    toastTitle.classList.remove('bg-success');
                    toastTitle.classList.add('bg-danger');
                }
                toastMess.innerHTML = mess;
                toast.show();
            }
        }

        function search(field) {
            const value = document.querySelector('#inputSearch').value;
            if (value.length == 0) {
                loadContent(field);
            } else {
                fetch(`/${field}/search/${value}`).then(res => res.text()).then(data => {
                    content.innerHTML = data;
                    modal = new bootstrap.Modal(document.getElementById('staticBackdrop'), {
                        keyboard: false,
                        backdrop: 'static'
                    });
                });
            }

        }


        function CleanForm() {
            let pro = document.querySelector('#form').querySelectorAll('input');
            for (let i = 0; i < pro.length; i++) {
                pro[i].value = null;
            }
        }
        function editRow(field, obj) {
            let tr = document.querySelectorAll('#tbody tr');
            for (let i = 0; i < tr.length; i++) {
                if (tr[i].querySelector('td').textContent == idClick) {
                    let td = tr[i].querySelectorAll('td');
                    if (field == 'user') {
                        td[0].innerHTML = obj.id;
                        td[1].innerHTML = obj.fullName;
                        td[2].innerHTML = obj.email;
                    } else {
                        td[0].innerHTML = obj.id;
                        td[1].innerHTML = obj.name;
                        td[2].innerHTML = obj.price;
                        td[3].innerHTML = obj.image;
                        td[4].innerHTML = obj.color;
                        td[5].innerHTML = obj.category;
                    }
                    break;
                }
            }


        }

        function showModal(field, val) {
            let inputs = document.querySelector('#form').querySelectorAll('input');
            if (field == 'product') {
                idClick = val[0].textContent;
                inputs[0].value = val[1].textContent;
                inputs[1].value = Math.floor(val[2].textContent);
                inputs[2].value = val[5].textContent;
                inputs[3].value = val[4].textContent;
            } else {
                idClick = val[0].textContent;
                inputs[0].value = val[1].textContent;
                inputs[1].value = val[2].textContent;
                inputs[2].value = val[3].textContent;
            }
            modal.show();
        }
    </script>
</body>

</html>